# Machine Learning with Python to solve the Kaggle Titanic case

## Getting and Cleaning both the test and train datasets

In the first steps we will go trough the essential steps of getting and cleaning the data that we will need to take before beginning to build predictive models to explore how to tackle Kaggle Titanic competition using Python and Machine Learning.

At first we run the necessary Jupyter magic so that plots are displayed inline.

In [3]:
%matplotlib inline

Now we import the Pandas library and load and read both the train and test datasets to create two DataFrames.

In [4]:
import pandas as pd

train_url = "http://s3.amazonaws.com/assets.datacamp.com/course/Kaggle/train.csv"
train = pd.read_csv(train_url)

test_url = "http://s3.amazonaws.com/assets.datacamp.com/course/Kaggle/test.csv"
test = pd.read_csv(test_url)

Now we print the `head` of the train and test dataframes

In [10]:
print(train.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [11]:
print(test.head())

   PassengerId  Pclass                                          Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch   Ticket     Fare Cabin Embarked
0  34.5      0      0   330911   7.8292   NaN        Q
1  47.0      1      0   363272   7.0000   NaN        S
2  62.0      0      0   240276   9.6875   NaN        Q
3  27.0      0      0   315154   8.6625   NaN        S
4  22.0      1      1  3101298  12.2875   NaN        S

Before we start with the actual analysis of the dataframes, it's important that we understand the structure of your data. Both the test and train datasets are DataFrame objects, the way pandas represent datasets. We can easily explore a DataFrame using the .describe() method. The .describe() method summarizes the columns/features of the DataFrame, including the count of observations, mean, max and so on.

In [8]:
train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [9]:
test.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

Another useful trick is to look at the dimensions of the DataFrame. This is done by requesting the .shape attribute of our DataFrame objects with the help of the numpy package.

In [18]:
import numpy as np
np.shape(train)

(891, 12)

In [19]:
import numpy as np
np.shape(test)

(418, 11)

## Analyse the datasets

How many people in your training set survived the disaster with the Titanic? To see this, you can use the value_counts() method in combination with standard bracket notation to select a single column of a DataFrame.

In [22]:
train["Survived"].value_counts()

0    549
1    342
Name: Survived, dtype: int64

Now we see that 549 individuals died (62%) and 342 survived (38%). A simple way to predict heuristically could be: "majority wins". This would mean that we will predict every unseen observation to not survive. To dive in a little deeper we can perform similar counts and percentage calculations on subsets of the Survived column. For example, maybe gender could play a role as well? We can explore this using the .value_counts() method for a two-way comparison on the number of males and females that survived.

Passengers that survived vs passengers that passed away in total:

In [25]:
print(train["Survived"].value_counts())

0    549
1    342
Name: Survived, dtype: int64

Passengers that survived vs passengers that passed away as proportions, to get proportions, we pass in the argument: normalize = True.

In [27]:
print(train["Survived"].value_counts(normalize = True))

0    0.616162
1    0.383838
Name: Survived, dtype: float64

To explore if maybe gender played a role we use the .value_counts() method for a two-way comparison on the number of males and females that survived.

In [28]:
print(train["Survived"][train["Sex"] == 'male'].value_counts())

0    468
1    109
Name: Survived, dtype: int64

print(train["Survived"][train["Sex"] == 'female'].value_counts())

No we will do the same exploration, only this time by looking at the proportions instead of the totals.

In [23]:
print(train["Survived"][train["Sex"] == 'male'].value_counts(normalize = True))

0    0.811092
1    0.188908
Name: Survived, dtype: float64

In [24]:
print(train["Survived"][train["Sex"] == 'female'].value_counts(normalize = True))

1    0.742038
0    0.257962
Name: Survived, dtype: float64

Another variable that could influence survival is age; since it's probable that children were saved first. We can test this by creating a new column with a categorical variable Child. The new variabele Child will take the value 1 in cases where age is less than 18, and a value of 0 in cases where age is greater than or equal to 18. To add this new variable we need to do two things (i) create a new column, and (ii) provide the values for each observation (i.e., row) based on the age of the passenger.

At first we create a new column called "Child" and we define that missing values will count 0

In [32]:
train["Child"] = float('NaN')

Then we assign 1 to passengers under 18, and we assing 0 to those missing or at the age of 18 and older.

In [38]:
train["Child"][train["Age"] < 18] == 1

7      True
9      True
10     True
14     True
16     True
22     True
24     True
39     True
43     True
50     True
58     True
59     True
63     True
68     True
71     True
78     True
84     True
86     True
111    True
114    True
119    True
125    True
138    True
147    True
156    True
163    True
164    True
165    True
171    True
172    True
       ...
691    True
720    True
721    True
731    True
746    True
750    True
751    True
755    True
764    True
777    True
780    True
781    True
787    True
788    True
791    True
802    True
803    True
813    True
819    True
824    True
827    True
830    True
831    True
841    True
844    True
850    True
852    True
853    True
869    True
875    True
Name: Child, dtype: bool

In [39]:
train["Child"][train["Age"] >= 18] == 0

0      True
1      True
2      True
3      True
4      True
6      True
8      True
11     True
12     True
13     True
15     True
18     True
20     True
21     True
23     True
25     True
27     True
30     True
33     True
34     True
35     True
37     True
38     True
40     True
41     True
44     True
49     True
51     True
52     True
53     True
       ...
854    True
855    True
856    True
857    True
858    True
860    True
861    True
862    True
864    True
865    True
866    True
867    True
870    True
871    True
872    True
873    True
874    True
876    True
877    True
879    True
880    True
881    True
882    True
883    True
884    True
885    True
886    True
887    True
889    True
890    True
Name: Child, dtype: bool

 Now we have to print the new column.

In [34]:
print(train["Child"])

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
5      NaN
6      0.0
7      1.0
8      0.0
9      1.0
10     1.0
11     0.0
12     0.0
13     0.0
14     1.0
15     0.0
16     1.0
17     NaN
18     0.0
19     NaN
20     0.0
21     0.0
22     1.0
23     0.0
24     1.0
25     0.0
26     NaN
27     0.0
28     NaN
29     NaN
      ...
861    0.0
862    0.0
863    NaN
864    0.0
865    0.0
866    0.0
867    0.0
868    NaN
869    1.0
870    0.0
871    0.0
872    0.0
873    0.0
874    0.0
875    1.0
876    0.0
877    0.0
878    NaN
879    0.0
880    0.0
881    0.0
882    0.0
883    0.0
884    0.0
885    0.0
886    0.0
887    0.0
888    NaN
889    0.0
890    0.0
Name: Child, dtype: float64

We print the normalized Survival Rates for passengers above 18.

In [36]:
print(train["Survived"][train["Child"] == 1].value_counts(normalize = True))

1    0.539823
0    0.460177
Name: Survived, dtype: float64

We print the normalized Survival Rates for passengers above 18.

In [40]:
print(train["Survived"][train["Child"] == 0].value_counts(normalize = True))

0    0.618968
1    0.381032
Name: Survived, dtype: float64

## First Prediction

Earlier we discovered that in your training set, females had over a 50% chance of surviving and males had less than a 50% chance of surviving. Hence, we could use this information for our first prediction: all females in the test set survive and all males in the test set die. We will use your test set for validating our predictions. We might have seen that contrary to the training set, the test set has no Survived column. You add such a column using your predicted values. Next, when uploading your results, Kaggle will use this variable (= your predictions) to score your performance.

At first we create a copy of the test dataframe called: test_one, we initialize a survived column to 0 in the test_one dataframe and then we set Survived to 1 if Sex equals "female"

In [46]:
test_one = test
test_one["Survived"] == 0
test_one["Survived"][test_one["Sex"] == "female"] == 1

1      True
4      True
6      True
8      True
12     True
14     True
15     True
18     True
19     True
22     True
24     True
26     True
32     True
33     True
36     True
37     True
43     True
44     True
48     True
49     True
52     True
53     True
59     True
63     True
65     True
66     True
69     True
70     True
72     True
74     True
       ...
347    True
349    True
350    True
354    True
356    True
359    True
361    True
362    True
364    True
365    True
367    True
368    True
371    True
374    True
375    True
376    True
382    True
383    True
385    True
391    True
395    True
397    True
400    True
402    True
408    True
409    True
410    True
411    True
412    True
414    True
Name: Survived, dtype: bool

Now we print the result of our prediction.

In [50]:
print(test_one.Survived)

0      0
1      1
2      0
3      0
4      1
5      0
6      1
7      0
8      1
9      0
10     0
11     0
12     1
13     0
14     1
15     1
16     0
17     0
18     1
19     1
20     0
21     0
22     1
23     0
24     1
25     0
26     1
27     0
28     0
29     0
      ..
388    0
389    0
390    0
391    1
392    0
393    0
394    0
395    1
396    0
397    1
398    0
399    0
400    1
401    0
402    1
403    0
404    0
405    0
406    0
407    0
408    1
409    1
410    1
411    1
412    1
413    0
414    1
415    0
416    0
417    0
Name: Survived, dtype: int64

## Decision trees to automate slicing and deciding

Until now, we did all the slicing and dicing ourself to find subsets that have a higher chance of surviving. A decision tree automates this process for us and outputs a classification model or classifier. Conceptually, the decision tree algorithm starts with all the data at the root node and scans all the variables for the best one to split on. Once a variable is chosen, it does the split and goes down one level (or one node) and repeat. The final nodes at the bottom of the decision tree are known as terminal nodes, and the majority vote of the observations in that node determine how to predict for new observations that end up in that terminal node.

First, let's import the necessary libraries:

In [51]:
import numpy as np
from sklearn import tree

Before we can begin constructing our trees we need to get our hands dirty and clean the data so that we can use all the features available to us. In the first chapter, we saw that the Age variable had some missing value. Missingness is a whole subject with and in itself, but we will use a simple imputation technique where we substitute each missing value with the median of the all present values. Another problem is that the Sex and Embarked variables are categorical but in a non-numeric format. Thus, we will need to assign each class a unique integer so that Python can handle the information. Embarked also has some missing values which we should impute witht the most common class of embarkation, which is "S".

At first we convert the male and female groups to integer form.

In [53]:
train["Sex"][train["Sex"] == "male"] == 0
train["Sex"][train["Sex"] == "female"] == 1

Series([], Name: Sex, dtype: bool)

Now we impute the Embarked variable.

In [55]:
train["Embarked"] = train["Embarked"].fillna("S")

Then we convert the Embarked classes to integer form.

In [57]:
train["Embarked"][train["Embarked"] == "S"] == 0
train["Embarked"][train["Embarked"] == "C"] == 1
train["Embarked"][train["Embarked"] == "Q"] == 2

Series([], Name: Embarked, dtype: bool)

We print the Sex and Embarked columns.

In [58]:
print(train["Sex"])

0      0
1      1
2      1
3      1
4      0
5      0
6      0
7      0
8      1
9      1
10     1
11     1
12     0
13     0
14     1
15     1
16     0
17     0
18     1
19     1
20     0
21     0
22     1
23     0
24     1
25     1
26     0
27     0
28     1
29     0
      ..
861    0
862    1
863    1
864    0
865    1
866    1
867    0
868    0
869    0
870    0
871    1
872    0
873    0
874    1
875    1
876    0
877    0
878    0
879    1
880    1
881    0
882    1
883    0
884    0
885    1
886    0
887    1
888    1
889    0
890    0
Name: Sex, dtype: object

In [59]:
print(train["Embarked"])

0      0
1      1
2      0
3      0
4      0
5      2
6      0
7      0
8      0
9      1
10     0
11     0
12     0
13     0
14     0
15     0
16     2
17     0
18     0
19     1
20     0
21     0
22     2
23     0
24     0
25     0
26     1
27     0
28     2
29     0
      ..
861    0
862    0
863    0
864    0
865    0
866    1
867    0
868    0
869    0
870    0
871    0
872    0
873    0
874    1
875    1
876    0
877    0
878    0
879    1
880    0
881    0
882    0
883    0
884    0
885    2
886    0
887    0
888    0
889    1
890    2
Name: Embarked, dtype: object

We will use the scikit-learn and numpy libraries to build our first decision tree. scikit-learn can be used to create tree objects from the DecisionTreeClassifier class. The methods that we will use take numpy arrays as inputs and therefore we will need to create those from the DataFrame that we already have. We will need the following to build a decision tree: a target: A one-dimensional numpy array containing the target/response from the train data. (Survival in your case) and features: A multidimensional numpy array containing the features/predictors from the train data. (ex. Sex, Age)

We now create the target and features numpy arrays, called: target and features_one. Then we fit our first decision tree, called: my_tree_one.

In [109]:
import numpy as np
from sklearn import tree

print(train)

target = train["Survived"].values
features_one = train[["Pclass", "Sex", "Fare"]].values

my_tree_one = tree.DecisionTreeClassifier()
my_tree_one = my_tree_one.fit(features_one, target)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
5              6         0       3
6              7         0       1
7              8         0       3
8              9         1       3
9             10         1       2
10            11         1       3
11            12         1       1
12            13         0       3
13            14         0       3
14            15         0       3
15            16         1       2
16            17         0       3
17            18         1       2
18            19         0       3
19            20         1       3
20            21         0       2
21            22         1       2
22            23         1       3
23            24         1       1
24            25         0       3
25            26         1       3
26            27         0       3
27            28         0       1
28            29         1       3
29            30         0       3
..           ...       ...     ...
861          862         0       2
862          863         1       1
863          864         0       3
864          865         0       2
865          866         1       2
866          867         1       2
867          868         0       1
868          869         0       3
869          870         1       3
870          871         0       3
871          872         1       1
872          873         0       1
873          874         0       3
874          875         1       2
875          876         1       3
876          877         0       3
877          878         0       3
878          879         0       3
879          880         1       1
880          881         1       2
881          882         0       3
882          883         0       3
883          884         0       2
884          885         0       3
885          886         0       3
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris   0  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...   1  38.0      1
2                               Heikkinen, Miss. Laina   1  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)   1  35.0      1
4                             Allen, Mr. William Henry   0  35.0      0
5                                     Moran, Mr. James   0   NaN      0
6                              McCarthy, Mr. Timothy J   0  54.0      0
7                       Palsson, Master. Gosta Leonard   0   2.0      3
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)   1  27.0      0
9                  Nasser, Mrs. Nicholas (Adele Achem)   1  14.0      1
10                     Sandstrom, Miss. Marguerite Rut   1   4.0      1
11                            Bonnell, Miss. Elizabeth   1  58.0      0
12                      Saundercock, Mr. William Henry   0  20.0      0
13                         Andersson, Mr. Anders Johan   0  39.0      1
14                Vestrom, Miss. Hulda Amanda Adolfina   1  14.0      0
15                    Hewlett, Mrs. (Mary D Kingcome)    1  55.0      0
16                                Rice, Master. Eugene   0   2.0      4
17                        Williams, Mr. Charles Eugene   0   NaN      0
18   Vander Planke, Mrs. Julius (Emelia Maria Vande...   1  31.0      1
19                             Masselmani, Mrs. Fatima   1   NaN      0
20                                Fynney, Mr. Joseph J   0  35.0      0
21                               Beesley, Mr. Lawrence   0  34.0      0
22                         McGowan, Miss. Anna "Annie"   1  15.0      0
23                        Sloper, Mr. William Thompson   0  28.0      0
24                       Palsson, Miss. Torborg Danira   1   8.0      3
25   Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...   1  38.0      1
26                             Emir, Mr. Farred Chehab   0   NaN      0
27                      Fortune, Mr. Charles Alexander   0  19.0      3
28                       O'Dwyer, Miss. Ellen "Nellie"   1   NaN      0
29                                 Todoroff, Mr. Lalio   0   NaN      0
..                                                 ...  ..   ...    ...
861                        Giles, Mr. Frederick Edward   0  21.0      1
862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...   1  48.0      0
863                  Sage, Miss. Dorothy Edith "Dolly"   1   NaN      8
864                             Gill, Mr. John William   0  24.0      0
865                           Bystrom, Mrs. (Karolina)   1  42.0      0
866                       Duran y More, Miss. Asuncion   1  27.0      1
867               Roebling, Mr. Washington Augustus II   0  31.0      0
868                        van Melkebeke, Mr. Philemon   0   NaN      0
869                    Johnson, Master. Harold Theodor   0   4.0      1
870                                  Balkic, Mr. Cerin   0  26.0      0
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)   1  47.0      1
872                           Carlsson, Mr. Frans Olof   0  33.0      0
873                        Vander Cruyssen, Mr. Victor   0  47.0      0
874              Abelson, Mrs. Samuel (Hannah Wizosky)   1  28.0      1
875                   Najib, Miss. Adele Kiamie "Jane"   1  15.0      0
876                      Gustafsson, Mr. Alfred Ossian   0  20.0      0
877                               Petroff, Mr. Nedelio   0  19.0      0
878                                 Laleff, Mr. Kristo   0   NaN      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)   1  56.0      0
880       Shelley, Mrs. William (Imanita Parrish Hall)   1  25.0      0
881                                 Markun, Mr. Johann   0  33.0      0
882                       Dahlberg, Miss. Gerda Ulrika   1  22.0      0
883                      Banfield, Mr. Frederick James   0  28.0      0
884                             Sutehall, Mr. Henry Jr   0  25.0      0
885               Rice, Mrs. William (Margaret Norton)   1  39.0      0
886                              Montvila, Rev. Juozas   0  27.0      0
887                       Graham, Miss. Margaret Edith   1  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"   1   NaN      1
889                              Behr, Mr. Karl Howell   0  26.0      0
890                                Dooley, Mr. Patrick   0  32.0      0

     Parch            Ticket      Fare        Cabin Embarked  Child
0        0         A/5 21171    7.2500          NaN        0    0.0
1        0          PC 17599   71.2833          C85        1    0.0
2        0  STON/O2. 3101282    7.9250          NaN        0    0.0
3        0            113803   53.1000         C123        0    0.0
4        0            373450    8.0500          NaN        0    0.0
5        0            330877    8.4583          NaN        2    NaN
6        0             17463   51.8625          E46        0    0.0
7        1            349909   21.0750          NaN        0    1.0
8        2            347742   11.1333          NaN        0    0.0
9        0            237736   30.0708          NaN        1    1.0
10       1           PP 9549   16.7000           G6        0    1.0
11       0            113783   26.5500         C103        0    0.0
12       0         A/5. 2151    8.0500          NaN        0    0.0
13       5            347082   31.2750          NaN        0    0.0
14       0            350406    7.8542          NaN        0    1.0
15       0            248706   16.0000          NaN        0    0.0
16       1            382652   29.1250          NaN        2    1.0
17       0            244373   13.0000          NaN        0    NaN
18       0            345763   18.0000          NaN        0    0.0
19       0              2649    7.2250          NaN        1    NaN
20       0            239865   26.0000          NaN        0    0.0
21       0            248698   13.0000          D56        0    0.0
22       0            330923    8.0292          NaN        2    1.0
23       0            113788   35.5000           A6        0    0.0
24       1            349909   21.0750          NaN        0    1.0
25       5            347077   31.3875          NaN        0    0.0
26       0              2631    7.2250          NaN        1    NaN
27       2             19950  263.0000  C23 C25 C27        0    0.0
28       0            330959    7.8792          NaN        2    NaN
29       0            349216    7.8958          NaN        0    NaN
..     ...               ...       ...          ...      ...    ...
861      0             28134   11.5000          NaN        0    0.0
862      0             17466   25.9292          D17        0    0.0
863      2          CA. 2343   69.5500          NaN        0    NaN
864      0            233866   13.0000          NaN        0    0.0
865      0            236852   13.0000          NaN        0    0.0
866      0     SC/PARIS 2149   13.8583          NaN        1    0.0
867      0          PC 17590   50.4958          A24        0    0.0
868      0            345777    9.5000          NaN        0    NaN
869      1            347742   11.1333          NaN        0    1.0
870      0            349248    7.8958          NaN        0    0.0
871      1             11751   52.5542          D35        0    0.0
872      0               695    5.0000  B51 B53 B55        0    0.0
873      0            345765    9.0000          NaN        0    0.0
874      0         P/PP 3381   24.0000          NaN        1    0.0
875      0              2667    7.2250          NaN        1    1.0
876      0              7534    9.8458          NaN        0    0.0
877      0            349212    7.8958          NaN        0    0.0
878      0            349217    7.8958          NaN        0    NaN
879      1             11767   83.1583          C50        1    0.0
880      1            230433   26.0000          NaN        0    0.0
881      0            349257    7.8958          NaN        0    0.0
882      0              7552   10.5167          NaN        0    0.0
883      0  C.A./SOTON 34068   10.5000          NaN        0    0.0
884      0   SOTON/OQ 392076    7.0500          NaN        0    0.0
885      5            382652   29.1250          NaN        2    0.0
886      0            211536   13.0000          NaN        0    0.0
887      0            112053   30.0000          B42        0    0.0
888      2        W./C. 6607   23.4500          NaN        0    NaN
889      0            111369   30.0000         C148        1    0.0
890      0            370376    7.7500          NaN        2    0.0

[891 rows x 13 columns]

One way to quickly see the result of our decision tree is to see the importance of the features that are included. This is done by requesting the .feature_importances_ attribute of our tree object.

In [76]:
print(my_tree_one.feature_importances_)

[ 0.12379776  0.41123936  0.46496288]

The feature_importances_ attribute made it simple to interpret the significance of the predictors we included. Based on our decision tree, the variable "Fare" plays the most important role in determining whether or not a passenger survived according by having the highest percentage (46.5%) of all.

Another quick metric is the mean accuracy that we compute using the .score() function with features_one and target as arguments.

In [78]:
print(my_tree_one.score(features_one, target))

0.904601571268

To send a submission to Kaggle we need to predict the survival rates for the observations in the test set. Before now we created simple predictions based on a single subset. Luckily, with our decision tree, we can make use of some simple functions to "generate" our answer without having to manually perform subsetting.

First, we have to make use of the .predict() method. In the model (my_tree_one), we put the values of features from the dataset for which the predictions need to be made (test). To extract the features we will need to create a numpy array in the same way as we did when training the model. However, we need to take care of a small but important problem first. There is a missing value in the Fare feature that needs to be imputed.

Next, we need to make sure that our output is in line with the submission requirements of Kaggle: a csv file with exactly 418 entries and two columns: PassengerId and Survived. Then we have to use the code provided to make a new data frame using DataFrame(), and create a csv file using to_csv() method from Pandas.

In [106]:
print(test)

     PassengerId  Pclass                                               Name  \
0            892       3                                   Kelly, Mr. James
1            893       3                   Wilkes, Mrs. James (Ellen Needs)
2            894       2                          Myles, Mr. Thomas Francis
3            895       3                                   Wirz, Mr. Albert
4            896       3       Hirvonen, Mrs. Alexander (Helga E Lindqvist)
5            897       3                         Svensson, Mr. Johan Cervin
6            898       3                               Connolly, Miss. Kate
7            899       2                       Caldwell, Mr. Albert Francis
8            900       3          Abrahim, Mrs. Joseph (Sophie Halaut Easu)
9            901       3                            Davies, Mr. John Samuel
10           902       3                                   Ilieff, Mr. Ylio
11           903       1                         Jones, Mr. Charles Cresson
12           904       1      Snyder, Mrs. John Pillsbury (Nelle Stevenson)
13           905       2                               Howard, Mr. Benjamin
14           906       1  Chaffee, Mrs. Herbert Fuller (Carrie Constance...
15           907       2      del Carlo, Mrs. Sebastiano (Argenia Genovesi)
16           908       2                                  Keane, Mr. Daniel
17           909       3                                  Assaf, Mr. Gerios
18           910       3                       Ilmakangas, Miss. Ida Livija
19           911       3              Assaf Khalil, Mrs. Mariana (Miriam")"
20           912       1                             Rothschild, Mr. Martin
21           913       3                          Olsen, Master. Artur Karl
22           914       1               Flegenheim, Mrs. Alfred (Antoinette)
23           915       1                    Williams, Mr. Richard Norris II
24           916       1    Ryerson, Mrs. Arthur Larned (Emily Maria Borie)
25           917       3                            Robins, Mr. Alexander A
26           918       1                       Ostby, Miss. Helene Ragnhild
27           919       3                                  Daher, Mr. Shedid
28           920       1                            Brady, Mr. John Bertram
29           921       3                                  Samaan, Mr. Elias
..           ...     ...                                                ...
388         1280       3                               Canavan, Mr. Patrick
389         1281       3                        Palsson, Master. Paul Folke
390         1282       1                         Payne, Mr. Vivian Ponsonby
391         1283       1     Lines, Mrs. Ernest H (Elizabeth Lindsey James)
392         1284       3                      Abbott, Master. Eugene Joseph
393         1285       2                               Gilbert, Mr. William
394         1286       3                           Kink-Heilmann, Mr. Anton
395         1287       1     Smith, Mrs. Lucien Philip (Mary Eloise Hughes)
396         1288       3                               Colbert, Mr. Patrick
397         1289       1  Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...
398         1290       3                     Larsson-Rondberg, Mr. Edvard A
399         1291       3                           Conlon, Mr. Thomas Henry
400         1292       1                            Bonnell, Miss. Caroline
401         1293       2                                    Gale, Mr. Harry
402         1294       1                     Gibson, Miss. Dorothy Winifred
403         1295       1                             Carrau, Mr. Jose Pedro
404         1296       1                       Frauenthal, Mr. Isaac Gerald
405         1297       2       Nourney, Mr. Alfred (Baron von Drachstedt")"
406         1298       2                          Ware, Mr. William Jeffery
407         1299       1                         Widener, Mr. George Dunton
408         1300       3                    Riordan, Miss. Johanna Hannah""
409         1301       3                          Peacock, Miss. Treasteall
410         1302       3                             Naughton, Miss. Hannah
411         1303       1    Minahan, Mrs. William Edward (Lillian E Thorpe)
412         1304       3                     Henriksson, Miss. Jenny Lovisa
413         1305       3                                 Spector, Mr. Woolf
414         1306       1                       Oliva y Ocana, Dona. Fermina
415         1307       3                       Saether, Mr. Simon Sivertsen
416         1308       3                                Ware, Mr. Frederick
417         1309       3                           Peter, Master. Michael J

        Sex   Age  SibSp  Parch              Ticket      Fare  \
0      male  34.5      0      0              330911    7.8292
1    female  47.0      1      0              363272    7.0000
2      male  62.0      0      0              240276    9.6875
3      male  27.0      0      0              315154    8.6625
4    female  22.0      1      1             3101298   12.2875
5      male  14.0      0      0                7538    9.2250
6    female  30.0      0      0              330972    7.6292
7      male  26.0      1      1              248738   29.0000
8    female  18.0      0      0                2657    7.2292
9      male  21.0      2      0           A/4 48871   24.1500
10     male   NaN      0      0              349220    7.8958
11     male  46.0      0      0                 694   26.0000
12   female  23.0      1      0               21228   82.2667
13     male  63.0      1      0               24065   26.0000
14   female  47.0      1      0         W.E.P. 5734   61.1750
15   female  24.0      1      0       SC/PARIS 2167   27.7208
16     male  35.0      0      0              233734   12.3500
17     male  21.0      0      0                2692    7.2250
18   female  27.0      1      0    STON/O2. 3101270    7.9250
19   female  45.0      0      0                2696    7.2250
20     male  55.0      1      0            PC 17603   59.4000
21     male   9.0      0      1             C 17368    3.1708
22   female   NaN      0      0            PC 17598   31.6833
23     male  21.0      0      1            PC 17597   61.3792
24   female  48.0      1      3            PC 17608  262.3750
25     male  50.0      1      0           A/5. 3337   14.5000
26   female  22.0      0      1              113509   61.9792
27     male  22.5      0      0                2698    7.2250
28     male  41.0      0      0              113054   30.5000
29     male   NaN      2      0                2662   21.6792
..      ...   ...    ...    ...                 ...       ...
388    male  21.0      0      0              364858    7.7500
389    male   6.0      3      1              349909   21.0750
390    male  23.0      0      0               12749   93.5000
391  female  51.0      0      1            PC 17592   39.4000
392    male  13.0      0      2           C.A. 2673   20.2500
393    male  47.0      0      0          C.A. 30769   10.5000
394    male  29.0      3      1              315153   22.0250
395  female  18.0      1      0               13695   60.0000
396    male  24.0      0      0              371109    7.2500
397  female  48.0      1      1               13567   79.2000
398    male  22.0      0      0              347065    7.7750
399    male  31.0      0      0               21332    7.7333
400  female  30.0      0      0               36928  164.8667
401    male  38.0      1      0               28664   21.0000
402  female  22.0      0      1              112378   59.4000
403    male  17.0      0      0              113059   47.1000
404    male  43.0      1      0               17765   27.7208
405    male  20.0      0      0       SC/PARIS 2166   13.8625
406    male  23.0      1      0               28666   10.5000
407    male  50.0      1      1              113503  211.5000
408  female   NaN      0      0              334915    7.7208
409  female   3.0      1      1  SOTON/O.Q. 3101315   13.7750
410  female   NaN      0      0              365237    7.7500
411  female  37.0      1      0               19928   90.0000
412  female  28.0      0      0              347086    7.7750
413    male   NaN      0      0           A.5. 3236    8.0500
414  female  39.0      0      0            PC 17758  108.9000
415    male  38.5      0      0  SOTON/O.Q. 3101262    7.2500
416    male   NaN      0      0              359309    8.0500
417    male   NaN      1      1                2668   22.3583

               Cabin Embarked  Survived
0                NaN        Q         0
1                NaN        S         1
2                NaN        Q         0
3                NaN        S         0
4                NaN        S         1
5                NaN        S         0
6                NaN        Q         1
7                NaN        S         0
8                NaN        C         1
9                NaN        S         0
10               NaN        S         0
11               NaN        S         0
12               B45        S         1
13               NaN        S         0
14               E31        S         1
15               NaN        C         1
16               NaN        Q         0
17               NaN        C         0
18               NaN        S         1
19               NaN        C         1
20               NaN        C         0
21               NaN        S         0
22               NaN        S         1
23               NaN        C         0
24   B57 B59 B63 B66        C         1
25               NaN        S         0
26               B36        C         1
27               NaN        C         0
28               A21        S         0
29               NaN        C         0
..               ...      ...       ...
388              NaN        Q         0
389              NaN        S         0
390              B24        S         0
391              D28        S         1
392              NaN        S         0
393              NaN        S         0
394              NaN        S         0
395              C31        S         1
396              NaN        Q         0
397              B41        C         1
398              NaN        S         0
399              NaN        Q         0
400               C7        S         1
401              NaN        S         0
402              NaN        C         1
403              NaN        S         0
404              D40        C         0
405              D38        C         0
406              NaN        S         0
407              C80        C         0
408              NaN        Q         1
409              NaN        S         1
410              NaN        Q         1
411              C78        Q         1
412              NaN        S         1
413              NaN        S         0
414             C105        C         1
415              NaN        S         0
416              NaN        S         0
417              NaN        C         0

[418 rows x 12 columns]

In [ ]:
# Impute the missing value with the median
test.Fare[152] = test.Fare.median()

# Extract the features from the test set: Pclass, Sex, Age, and Fare.
test_features = test[["Pclass", "Sex", "Age", "Fare"]].values

# Make your prediction using the test set and print them.
my_prediction = my_tree_one.predict(test_features)
print(my_prediction)

# Create a data frame with two columns: PassengerId & Survived. Survived contains your predictions
PassengerId =np.array(test["PassengerId"]).astype(int)
my_solution = pd.DataFrame(my_prediction, PassengerId, columns = ["Survived"])
print(my_solution)

# Check that your data frame has 418 entries
print(my_solution.shape)

# Write your solution to a csv file with the name my_solution.csv
my_solution.to_csv("my_solution_two.csv", index_label = ["PassengerId"])

We just created our first decision tree. We downloaded our csv file, and submitted the csv file to Kaggle. Result of our effort: we were placed very low and have to do better, let's see what is wrong and submit again the next time. When we created our first decision tree the default arguments for max_depth and min_samples_split were set to None. This means that no limit on the depth of our tree was set. That's a good thing right? Not so fast. We are likely overfitting. This means that while our model describes the training data extremely well, it doesn't generalize to new data, which is frankly the point of prediction. Just look at the Kaggle submission results for the simple model based on Gender and the complex decision tree. Which one does better?