# NBA Exploration

In [67]:
#Read in the packages
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np 
import scipy 
import pandas as pandas
import pandas as pd
import sklearn

In [26]:
#read in the datafile
nba = pd.read_csv('NBA.csv')

In [33]:
#display the columns and the values in the first 5 rows:
nba.head(10)

,﻿NBA,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Player,NaN,Family?,Height,NaN,NaN,DOB,Relation,Sport/League,Notes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Acy, Quincy",SAC,NaN,6,7.0,79.0,1990-10-06T00:00:00Z,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Adams, Jordan",MEM,NaN,6,5.0,77.0,1994-07-08T00:00:00Z,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Adams, Steven",OKC,X,7,0.0,84.0,1993-07-23T00:00:00Z,Sister,INTL TAF,"Valerie Adams, national team track and field, ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,"Adams, Steven",OKC,X,7,0.0,84.0,1993-07-23T00:00:00Z,Brother,INTL BB,"Warren Adams, pro basketball in New Zealand an...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,"Adams, Steven",OKC,X,7,0.0,84.0,1993-07-23T00:00:00Z,Brother,INTL BB,"Sid Adams, pro basketball in New Zealand and n...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,"Adams, Steven",OKC,X,7,0.0,84.0,1993-07-23T00:00:00Z,Brother,INTL BB,"???, New Zealand national team",...,1993-07-23T00:00:00Z,Brother,INTL BB,"Warren Adams, pro basketball in New Zealand an...",NaN,NaN,NaN,NaN,NaN,NaN
8,"Adams, Steven",OKC,X,7,0.0,84.0,1993-07-23T00:00:00Z,Brother,INTL BB,"???, New Zealand national team",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,"Adams, Steven",OKC,X,7,0.0,84.0,1993-07-23T00:00:00Z,Brother,INTL BB,"???, New Zealand national team",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
#the header row is at row3 instead of row 1, move to top:
nba = pd.read_csv('NBA.csv', header=2)

In [36]:
#Again display the columns and the values in the first 5 rows:
nba.head(10)

,Player,Unnamed: 1,Family?,Height,Unnamed: 4,Unnamed: 5,DOB,Relation,Sport/League,Notes,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,"Acy, Quincy",SAC,NaN,6.0,7.0,79.0,1990-10-06T00:00:00Z,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Adams, Jordan",MEM,NaN,6.0,5.0,77.0,1994-07-08T00:00:00Z,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Adams, Steven",OKC,X,7.0,0.0,84.0,1993-07-23T00:00:00Z,Sister,INTL TAF,"Valerie Adams, national team track and field, ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Adams, Steven",OKC,X,7.0,0.0,84.0,1993-07-23T00:00:00Z,Brother,INTL BB,"Warren Adams, pro basketball in New Zealand an...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Adams, Steven",OKC,X,7.0,0.0,84.0,1993-07-23T00:00:00Z,Brother,INTL BB,"Sid Adams, pro basketball in New Zealand and n...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,"Adams, Steven",OKC,X,7.0,0.0,84.0,1993-07-23T00:00:00Z,Brother,INTL BB,"???, New Zealand national team",...,1993-07-23T00:00:00Z,Brother,INTL BB,"Warren Adams, pro basketball in New Zealand an...",NaN,NaN,NaN,NaN,NaN,NaN
6,"Adams, Steven",OKC,X,7.0,0.0,84.0,1993-07-23T00:00:00Z,Brother,INTL BB,"???, New Zealand national team",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,"Adams, Steven",OKC,X,7.0,0.0,84.0,1993-07-23T00:00:00Z,Brother,INTL BB,"???, New Zealand national team",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,"Adams, Steven",OKC,X,7.0,0.0,84.0,1993-07-23T00:00:00Z,Brother,INTL BB,"???, New Zealand national team",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,"Afflalo, Arron",NYK,NaN,6.0,5.0,77.0,1985-10-15T00:00:00Z,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
#display the columns and the values in the last 5 rows:
nba.tail(25)

,﻿NBA,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
1120,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1121,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1126,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1127,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1128,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1129,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1131,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1132,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1133,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1134,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1135,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1136,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1137,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1138,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1139,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1141,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1142,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1143,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1144,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
nba.describe()

,Unnamed: 4,Unnamed: 5,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
count,597.000000,597.000000,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,6.244556,79.269682,7.0,0.0,84.0,NaN,NaN,NaN,NaN,NaN,NaN
std,3.400132,3.360744,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,0.000000,69.000000,7.0,0.0,84.0,NaN,NaN,NaN,NaN,NaN,NaN
25%,4.000000,77.000000,7.0,0.0,84.0,NaN,NaN,NaN,NaN,NaN,NaN
50%,7.000000,80.000000,7.0,0.0,84.0,NaN,NaN,NaN,NaN,NaN,NaN
75%,9.000000,82.000000,7.0,0.0,84.0,NaN,NaN,NaN,NaN,NaN,NaN
max,11.000000,87.000000,7.0,0.0,84.0,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
#print out file lay-out
print(nba)

                       Player Unnamed: 1 Family?  Height  Unnamed: 4  \
0                Acy, Quincy         SAC     NaN     6.0         7.0
1              Adams, Jordan         MEM     NaN     6.0         5.0
2              Adams, Steven         OKC       X     7.0         0.0
3              Adams, Steven         OKC       X     7.0         0.0
4              Adams, Steven         OKC       X     7.0         0.0
5              Adams, Steven         OKC       X     7.0         0.0
6              Adams, Steven         OKC       X     7.0         0.0
7              Adams, Steven         OKC       X     7.0         0.0
8              Adams, Steven         OKC       X     7.0         0.0
9             Afflalo, Arron         NYK     NaN     6.0         5.0
10            Ajinca, Alexis         NOP     NaN     7.0         2.0
11             Aldrich, Cole         LAC     NaN     6.0        11.0
12        Aldridge, LaMarcus         SAS       X     6.0        11.0
13          Alexander, Cliff         POR       X     6.0         8.0
14              Allen, Lavoy         IND     NaN     6.0         9.0
15               Allen, Tony         MEM       X     6.0         4.0
16          Aminu, Al-Farouq         POR       X     6.0         9.0
17             Amundson, Lou         NYK     NaN     6.0         9.0
18           Andersen, Chris         MIA     NaN     6.0        10.0
19            Anderson, Alan         WAS     NaN     6.0         6.0
20           Anderson, James         SAC     NaN     6.0         6.0
21          Anderson, Justin         DAL       X     6.0         6.0
22            Anderson, Kyle         SAS       X     6.0         9.0
23            Anderson, Ryan         NOP     NaN     6.0        10.0
24    Antetokounmpo, Giannis         MIL       X     6.0        11.0
25    Antetokounmpo, Giannis         MIL       X     6.0        11.0
26          Anthony, Carmelo         NYK     NaN     6.0         8.0
27             Anthony, Joel         DET     NaN     6.0         9.0
28             Appling, Keith        NaN     NaN     6.0         1.0
29             Ariza, Trevor         HOU     NaN     6.0         8.0
...                       ...        ...     ...     ...         ...
1113                      NaN        NaN     NaN     NaN         NaN
1114                      NaN        NaN     NaN     NaN         NaN
1115                      NaN        NaN     NaN     NaN         NaN
1116                      NaN        NaN     NaN     NaN         NaN
1117                      NaN        NaN     NaN     NaN         NaN
1118                      NaN        NaN     NaN     NaN         NaN
1119                      NaN        NaN     NaN     NaN         NaN
1120                      NaN        NaN     NaN     NaN         NaN
1121                      NaN        NaN     NaN     NaN         NaN
1122                      NaN        NaN     NaN     NaN         NaN
1123                      NaN        NaN     NaN     NaN         NaN
1124                      NaN        NaN     NaN     NaN         NaN
1125                      NaN        NaN     NaN     NaN         NaN
1126                      NaN        NaN     NaN     NaN         NaN
1127                      NaN        NaN     NaN     NaN         NaN
1128                      NaN        NaN     NaN     NaN         NaN
1129                      NaN        NaN     NaN     NaN         NaN
1130                      NaN        NaN     NaN     NaN         NaN
1131                      NaN        NaN     NaN     NaN         NaN
1132                      NaN        NaN     NaN     NaN         NaN
1133                      NaN        NaN     NaN     NaN         NaN
1134                      NaN        NaN     NaN     NaN         NaN
1135                      NaN        NaN     NaN     NaN         NaN
1136                      NaN        NaN     NaN     NaN         NaN
1137                      NaN        NaN     NaN     NaN         NaN
1138                      NaN        NaN     NaN     NaN         NaN
1139                      NaN        NaN     NaN     NaN         NaN
1140                      NaN        NaN     NaN     NaN         NaN
1141                      NaN        NaN     NaN     NaN         NaN
1142                      NaN        NaN     NaN     NaN         NaN

      Unnamed: 5                   DOB     Relation Sport/League  \
0           79.0  1990-10-06T00:00:00Z          NaN          NaN
1           77.0  1994-07-08T00:00:00Z          NaN          NaN
2           84.0  1993-07-23T00:00:00Z       Sister     INTL TAF
3           84.0  1993-07-23T00:00:00Z      Brother      INTL BB
4           84.0  1993-07-23T00:00:00Z      Brother      INTL BB
5           84.0  1993-07-23T00:00:00Z      Brother      INTL BB
6           84.0  1993-07-23T00:00:00Z      Brother      INTL BB
7           84.0  1993-07-23T00:00:00Z      Brother      INTL BB
8           84.0  1993-07-23T00:00:00Z      Brother      INTL BB
9           77.0  1985-10-15T00:00:00Z          NaN          NaN
10          86.0  1988-05-06T00:00:00Z          NaN          NaN
11          83.0  1988-10-31T00:00:00Z          NaN          NaN
12          83.0  1985-07-19T00:00:00Z       Cousin          MLS
13          80.0  1995-11-16T00:00:00Z       Father       CBBALL
14          81.0  1989-02-04T00:00:00Z          NaN          NaN
15          76.0  1982-01-11T00:00:00Z      Brother        NBADL
16          81.0  1990-09-21T00:00:00Z      Brother        NBADL
17          81.0  1982-12-07T00:00:00Z          NaN          NaN
18          82.0  1978-07-07T00:00:00Z          NaN          NaN
19          78.0  1982-10-16T00:00:00Z          NaN          NaN
20          78.0  1989-03-25T00:00:00Z          NaN          NaN
21          78.0  1993-11-19T00:00:00Z      Brother       CBBALL
22          81.0  1993-09-20T00:00:00Z  Grandfather          NFL
23          82.0  1988-05-06T00:00:00Z          NaN          NaN
24          83.0  1994-12-06T00:00:00Z      Brother          NBA
25          83.0  1994-12-06T00:00:00Z      Brother          NaN
26          80.0  1984-05-29T00:00:00Z          NaN          NaN
27          81.0  1982-08-09T00:00:00Z          NaN          NaN
28          73.0  1992-02-13T00:00:00Z          NaN          NaN
29          80.0  1985-06-30T00:00:00Z          NaN          NaN
...          ...                   ...          ...          ...
1113         NaN                   NaN          NaN          NaN
1114         NaN                   NaN          NaN          NaN
1115         NaN                   NaN          NaN          NaN
1116         NaN                   NaN          NaN          NaN
1117         NaN                   NaN          NaN          NaN
1118         NaN                   NaN          NaN          NaN
1119         NaN                   NaN          NaN          NaN
1120         NaN                   NaN          NaN          NaN
1121         NaN                   NaN          NaN          NaN
1122         NaN                   NaN          NaN          NaN
1123         NaN                   NaN          NaN          NaN
1124         NaN                   NaN          NaN          NaN
1125         NaN                   NaN          NaN          NaN
1126         NaN                   NaN          NaN          NaN
1127         NaN                   NaN          NaN          NaN
1128         NaN                   NaN          NaN          NaN
1129         NaN                   NaN          NaN          NaN
1130         NaN                   NaN          NaN          NaN
1131         NaN                   NaN          NaN          NaN
1132         NaN                   NaN          NaN          NaN
1133         NaN                   NaN          NaN          NaN
1134         NaN                   NaN          NaN          NaN
1135         NaN                   NaN          NaN          NaN
1136         NaN                   NaN          NaN          NaN
1137         NaN                   NaN          NaN          NaN
1138         NaN                   NaN          NaN          NaN
1139         NaN                   NaN          NaN          NaN
1140         NaN                   NaN          NaN          NaN
1141         NaN                   NaN          NaN          NaN
1142         NaN                   NaN          NaN          NaN

                                                  Notes     ...      \
0                                                   NaN     ...
1                                                   NaN     ...
2     Valerie Adams, national team track and field, ...     ...
3     Warren Adams, pro basketball in New Zealand an...     ...
4     Sid Adams, pro basketball in New Zealand and n...     ...
5                        ???, New Zealand national team     ...
6                        ???, New Zealand national team     ...
7                        ???, New Zealand national team     ...
8                        ???, New Zealand national team     ...
9                                                   NaN     ...
10                                                  NaN     ...
11                                                  NaN     ...
12    Cousin-Marlon Hairston, midfielder for Colorad...     ...
13    Alexander's father is 6-foot-7-inch (2.01 m) C...     ...
14                                                  NaN     ...
15    Brother Ryan played on Grizzlies summer league...     ...
16    Older brother Alade played in D-League, with Heat     ...
17                                                  NaN     ...
18                                                  NaN     ...
19                                                  NaN     ...
20                                                  NaN     ...
21    older brother, Edward III, who played basketba...     ...
22    His grandfather, Clifton Anderson, played coll...     ...
23                                                  NaN     ...
24                                             Thanasis     ...
25    Francis, professional soccer player in Nigeria...     ...
26                                                  NaN     ...
27                                                  NaN     ...
28                                                  NaN     ...
29    Ariza's stepfather, Kenny McClary, played at t...     ...
...                                                 ...     ...
1113                                                NaN     ...
1114                                                NaN     ...
1115                                                NaN     ...
1116                                                NaN     ...
1117                                                NaN     ...
1118                                                NaN     ...
1119                                                NaN     ...
1120                                                NaN     ...
1121                                                NaN     ...
1122                                                NaN     ...
1123                                                NaN     ...
1124                                                NaN     ...
1125                                                NaN     ...
1126                                                NaN     ...
1127                                                NaN     ...
1128                                                NaN     ...
1129                                                NaN     ...
1130                                                NaN     ...
1131                                                NaN     ...
1132                                                NaN     ...
1133                                                NaN     ...
1134                                                NaN     ...
1135                                                NaN     ...
1136                                                NaN     ...
1137                                                NaN     ...
1138                                                NaN     ...
1139                                                NaN     ...
1140                                                NaN     ...
1141                                                NaN     ...
1142                                                NaN     ...

               Unnamed: 16 Unnamed: 17 Unnamed: 18  \
0                      NaN         NaN         NaN
1                      NaN         NaN         NaN
2                      NaN         NaN         NaN
3                      NaN         NaN         NaN
4                      NaN         NaN         NaN
5     1993-07-23T00:00:00Z     Brother     INTL BB
6                      NaN         NaN         NaN
7                      NaN         NaN         NaN
8                      NaN         NaN         NaN
9                      NaN         NaN         NaN
10                     NaN         NaN         NaN
11                     NaN         NaN         NaN
12                     NaN         NaN         NaN
13                     NaN         NaN         NaN
14                     NaN         NaN         NaN
15                     NaN         NaN         NaN
16                     NaN         NaN         NaN
17                     NaN         NaN         NaN
18                     NaN         NaN         NaN
19                     NaN         NaN         NaN
20                     NaN         NaN         NaN
21                     NaN         NaN         NaN
22                     NaN         NaN         NaN
23                     NaN         NaN         NaN
24                     NaN         NaN         NaN
25                     NaN         NaN         NaN
26                     NaN         NaN         NaN
27                     NaN         NaN         NaN
28                     NaN         NaN         NaN
29                     NaN         NaN         NaN
...                    ...         ...         ...
1113                   NaN         NaN         NaN
1114                   NaN         NaN         NaN
1115                   NaN         NaN         NaN
1116                   NaN         NaN         NaN
1117                   NaN         NaN         NaN
1118                   NaN         NaN         NaN
1119                   NaN         NaN         NaN
1120                   NaN         NaN         NaN
1121                   NaN         NaN         NaN
1122                   NaN         NaN         NaN
1123                   NaN         NaN         NaN
1124                   NaN         NaN         NaN
1125                   NaN         NaN         NaN
1126                   NaN         NaN         NaN
1127                   NaN         NaN         NaN
1128                   NaN         NaN         NaN
1129                   NaN         NaN         NaN
1130                   NaN         NaN         NaN
1131                   NaN         NaN         NaN
1132                   NaN         NaN         NaN
1133                   NaN         NaN         NaN
1134                   NaN         NaN         NaN
1135                   NaN         NaN         NaN
1136                   NaN         NaN         NaN
1137                   NaN         NaN         NaN
1138                   NaN         NaN         NaN
1139                   NaN         NaN         NaN
1140                   NaN         NaN         NaN
1141                   NaN         NaN         NaN
1142                   NaN         NaN         NaN

                                            Unnamed: 19  Unnamed: 20  \
0                                                   NaN          NaN
1                                                   NaN          NaN
2                                                   NaN          NaN
3                                                   NaN          NaN
4                                                   NaN          NaN
5     Warren Adams, pro basketball in New Zealand an...          NaN
6                                                   NaN          NaN
7                                                   NaN          NaN
8                                                   NaN          NaN
9                                                   NaN          NaN
10                                                  NaN          NaN
11                                                  NaN          NaN
12                                                  NaN          NaN
13                                                  NaN          NaN
14                                                  NaN          NaN
15                                                  NaN          NaN
16                                                  NaN          NaN
17                                                  NaN          NaN
18                                                  NaN          NaN
19                                                  NaN          NaN
20                                                  NaN          NaN
21                                                  NaN          NaN
22                                                  NaN          NaN
23                                                  NaN          NaN
24                                                  NaN          NaN
25                                                  NaN          NaN
26                                                  NaN          NaN
27                                                  NaN          NaN
28                                                  NaN          NaN
29                                                  NaN          NaN
...                                                 ...          ...
1113                                                NaN          NaN
1114                                                NaN          NaN
1115                                                NaN          NaN
1116                                                NaN          NaN
1117                                                NaN          NaN
1118                                                NaN          NaN
1119                                                NaN          NaN
1120                                                NaN          NaN
1121                                                NaN          NaN
1122                                                NaN          NaN
1123                                                NaN          NaN
1124                                                NaN          NaN
1125                                                NaN          NaN
1126                                                NaN          NaN
1127                                                NaN          NaN
1128                                                NaN          NaN
1129                                                NaN          NaN
1130                                                NaN          NaN
1131                                                NaN          NaN
1132                                                NaN          NaN
1133                                                NaN          NaN
1134                                                NaN          NaN
1135                                                NaN          NaN
1136                                                NaN          NaN
1137                                                NaN          NaN
1138                                                NaN          NaN
1139                                                NaN          NaN
1140                                                NaN          NaN
1141                                                NaN          NaN
1142                                                NaN          NaN

      Unnamed: 21 Unnamed: 22 Unnamed: 23 Unnamed: 24 Unnamed: 25
0             NaN         NaN         NaN         NaN         NaN
1             NaN         NaN         NaN         NaN         NaN

In [48]:
#Lets check out the columnnames and the columntype 
nba.dtypes

Player           object
Unnamed: 1       object
Family?          object
Height          float64
Unnamed: 4      float64
Unnamed: 5      float64
DOB              object
Relation         object
Sport/League     object
Notes            object
Unnamed: 10      object
Unnamed: 11      object
Unnamed: 12      object
Unnamed: 13     float64
Unnamed: 14     float64
Unnamed: 15     float64
Unnamed: 16      object
Unnamed: 17      object
Unnamed: 18      object
Unnamed: 19      object
Unnamed: 20     float64
Unnamed: 21     float64
Unnamed: 22     float64
Unnamed: 23     float64
Unnamed: 24     float64
Unnamed: 25     float64
dtype: object

In [40]:
nba['Player'].value_counts()

Jones, James              8
Singler, Kyle             8
Plumlee, Miles            7
Adams, Steven             7
Plumlee, Mason            7
Jones, Tyus               6
Redick, JJ                5
Korver, Kyle              5
Wroten, Tony              5
Roberson, Andre           5
Curry, Stephen            4
McAdoo, James Michael     4
Diaw, Boris               4
Hood, Rodney              4
Miller, Mike              4
Beal, Bradley             4
Curry, Seth               4
Grant, Jerami             4
Grant, Jerian             4
Gortat, Marcin            3
Porter, Otto              3
Gordon, Aaron             3
Green, Danny              3
Thompson, Klay            3
Winslow, Justise          3
Deng, Luol                3
Parker, Tony              3
Joseph, Cory              3
Davis, Anthony            3
Kelly, Ryan               3
                         ..
Johnson, Tyler            1
Smith, Josh               1
Thomas, Lance             1
Foye, Randy               1
Young, James              1
Belinelli, Marco          1
Johnson, Joe              1
Wright, Brandan           1
Kaun, Sasha               1
Gee, Alonzo               1
Frye, Channing            1
Brand, Elton              1
Batum, Nicolas            1
Rubio, Ricky              1
Vaughn, Rashad            1
Dekker, Sam               1
Clarkson, Jordan          1
Christmas, Rakeem         1
Gordon, Eric              1
Mahinmi, Ian              1
Harrell, Montrezl         1
Dunleavy, Mike            1
O'Brien, J.J.             1
Jefferson, Al             1
Turner, Myles             1
Jefferson, Richard        1
Jerebko, Jonas            1
Splitter, Tiago           1
Dinwiddie, Spencer        1
Haslem, Udonis            1
Name: Player, dtype: int64

In [43]:
nba['Player'].unique()

array(['Acy, Quincy ', 'Adams, Jordan ', 'Adams, Steven ',
       'Afflalo, Arron ', 'Ajinca, Alexis ', 'Aldrich, Cole ',
       'Aldridge, LaMarcus ', 'Alexander, Cliff ', 'Allen, Lavoy ',
       'Allen, Tony ', 'Aminu, Al-Farouq ', 'Amundson, Lou ',
       'Andersen, Chris ', 'Anderson, Alan ', 'Anderson, James ',
       'Anderson, Justin ', 'Anderson, Kyle ', 'Anderson, Ryan ',
       'Antetokounmpo, Giannis ', 'Anthony, Carmelo ', 'Anthony, Joel ',
       'Appling, Keith', 'Ariza, Trevor ', 'Arthur, Darrell ',
       'Asik, Omer ', 'Augustin, D.J. ', 'Babbitt, Luke ',
       'Bairstow, Cameron ', 'Barbosa, Leandro ', 'Barea, Jose Juan ',
       'Bargnani, Andrea ', 'Barnes, Harrison ', 'Barnes, Matt ',
       'Barton, Will ', 'Bass, Brandon ', 'Batum, Nicolas ',
       'Bayless, Jerryd ', 'Baynes, Aron ', 'Bazemore, Kent ',
       'Beal, Bradley ', 'Belinelli, Marco ', 'Bennett, Anthony ',
       'Beverley, Patrick ', 'Biyombo, Bismack ', 'Bjelica, Nemanja ',
       'Black, Tarik ', 'Blair, DeJuan ', 'Blake, Steve ',
       'Bledsoe, Eric ', 'Bogdanovic, Bojan ', 'Bogut, Andrew ',
       'Bonner, Matt ', 'Booker, Devin ', 'Booker, Trevor ',
       'Bosh, Chris ', 'Bradley, Avery ', 'Brand, Elton ',
       'Brewer, Corey ', 'Brooks, Aaron ', 'Brown, Anthony ',
       'Brown, Markel ', 'Bryant, Kobe ', 'Budinger, Chase ',
       'Bullock, Reggie ', 'Burke, Trey ', 'Burks, Alec ',
       'Butler, Caron ', 'Butler, Jimmy ', 'Butler, Rasual ',
       'Caboclo, Bruno ', 'Calderon, Jose ', 'Caldwell-Pope, Kentavious ',
       'Canaan, Isaiah ', 'Capela, Clint ', 'Carroll, DeMarre ',
       'Carter, Vince ', 'Carter-Williams, Michael ', 'Casspi, Omri ',
       'Cauley-Stein, Willie ', 'Chalmers, Mario ', 'Chandler, Tyson ',
       'Chandler, Wilson ', 'Christmas, Rakeem ', 'Clark, Ian ',
       'Clarkson, Jordan ', 'Cole, Norris ', 'Collison, Darren ',
       'Collison, Nick ', 'Conley, Mike ', 'Connaughton, Pat ',
       'Copeland, Chris ', 'Cousins, DeMarcus ', 'Covington, Robert ',
       'Crabbe, Allen ', 'Crawford, Jamal ', 'Crowder, Jae ',
       'Cunningham, Dante ', 'Cunningham, Jared ', 'Curry, Seth ',
       'Curry, Stephen ', 'Daniels, Troy ', 'Davis, Anthony ',
       'Davis, Ed ', 'Dawson, Branden ', 'DeRozan, DeMar ',
       'Dedmon, Dewayne ', 'Dekker, Sam ', 'Dellavedova, Matthew ',
       'Deng, Luol ', 'Diaw, Boris ', 'Dieng, Gorgui ',
       'Dinwiddie, Spencer ', 'Douglas, Toney ', 'Dragic, Goran ',
       'Drummond, Andre ', 'Dudley, Jared ', 'Dukan, Duje ',
       'Duncan, Tim ', 'Dunleavy, Mike ', 'Durant, Kevin ',
       'Early, Cleanthony ', 'Ellington, Wayne ', 'Ellis, Monta ',
       'Embiid, Joel ', 'Ennis, James ', 'Ennis, Tyler ', 'Evans, Jeremy ',
       'Evans, Tyreke ', 'Exum, Dante ', 'Ezeli, Festus ',
       'Faried, Kenneth ', 'Favors, Derrick ', 'Felicio, Cristiano ',
       'Felton, Raymond ', 'Fournier, Evan ', 'Foye, Randy ',
       'Frazier, Tim ', 'Frye, Channing ', 'Gallinari, Danilo ',
       'Galloway, Langston ', 'Garnett, Kevin ', 'Gasol, Marc ',
       'Gasol, Pau ', 'Gay, Rudy ', 'Gee, Alonzo ', 'George, Paul ',
       'Gibson, Taj ', 'Ginobili, Manu ', 'Gobert, Rudy ', 'Gooden, Drew ',
       'Goodwin, Archie ', 'Gordon, Aaron ', 'Gordon, Eric ',
       'Gortat, Marcin ', 'Grant, Jerami ', 'Grant, Jerian ',
       'Green, Danny ', 'Green, Draymond ', 'Green, Gerald ',
       'Green, JaMychal ', 'Green, Jeff ', 'Griffin, Blake ',
       'Hairston, PJ ', 'Hansbrough, Tyler ', 'Hardaway Jr., Tim ',
       'Harden, James ', 'Harkless, Maurice ', 'Harrell, Montrezl ',
       'Harris, Devin ', 'Harris, Gary ', 'Harris, Joe ',
       'Harris, Tobias ', 'Harrison, Aaron ', 'Haslem, Udonis ',
       'Hawes, Spencer ', 'Hayward, Gordon ', 'Henderson, Gerald ',
       'Henson, John ', 'Hezonja, Mario ', 'Hibbert, Roy ', 'Hickson, JJ ',
       'Hill, George ', 'Hill, Jordan ', 'Hill, Solomon ',
       'Hilliard, Darrun ', 'Hinrich, Kirk ', 'Holiday, Jrue ',
       'Holiday, Justin ', 'Hollis-Jefferson, Rondae ', 'Holmes, Richaun ',
       'Hood, Rodney ', 'Horford, Al ', 'Howard, Dwight ',
       'Huertas, Marcelo ', 'Huestis, Josh ', 'Humphries, Kris ',
       'Hunter, RJ ', 'Ibaka, Serge ', 'Iguodala, Andre ',
       'Ilyasova, Ersan ', 'Ingles, Joe ', 'Inglis, Damien ',
       'Irving, Kyrie ', 'Jack, Jarrett ', 'Jackson, Reggie ',
       'James, LeBron ', 'Jefferson, Al ', 'Jefferson, Cory ',
       'Jefferson, Richard ', 'Jenkins, John ', 'Jennings, Brandon ',
       'Jerebko, Jonas ', 'Johnson, Amir ', 'Johnson, Chris ',
       'Johnson, James ', 'Johnson, Joe ', 'Johnson, Stanley ',
       'Johnson, Tyler ', 'Johnson, Wesley ', 'Jokic, Nikola ',
       'Jones, James ', 'Jones, Terrence ', 'Jones, Tyus ',
       'Jordan, DeAndre ', 'Joseph, Cory ', 'Kaman, Chris ',
       'Kaminsky, Frank ', 'Kanter, Enes ', 'Karasev, Sergey ',
       'Kaun, Sasha ', 'Kelly, Ryan ', 'Kidd-Gilchrist, Michael ',
       'Knight, Brandon ', 'Korver, Kyle ', 'Koufos, Kosta ',
       'LaVine, Zach ', 'Lamb, Jeremy ', 'Landry, Carl ', 'Larkin, Shane ',
       'Lauvergne, Joffrey ', 'Lawson, Ty ', 'Lee, Courtney ',
       'Lee, David ', 'Len, Alex ', 'Leonard, Kawhi ', 'Leonard, Meyers ',
       'Leuer, Jon ', 'Lillard, Damian ', 'Lin, Jeremy ',
       'Livingston, Shaun ', 'Looney, Kevon ', 'Lopez, Brook ',
       'Lopez, Robin ', 'Love, Kevin ', 'Lowry, Kyle ', 'Lyles, Trey ',
       'Mack, Shelvin ', 'Mahinmi, Ian ', 'Marble, Devyn ',
       'Marjanovic, Boban ', 'Marshall, Kendall ', 'Martin, Jarell ',
       'Martin, Kevin ', 'Matthews, Wesley ', 'Mayo, O.J. ',
       'Mbah a Moute, Luc ', 'McAdoo, James Michael ', 'McCallum, Ray ',
       'McCollum, CJ ', 'McConnell, TJ ', 'McCullough, Chris ',
       'McDaniels, KJ ', 'McDermott, Doug ', 'McGary, Mitch ',
       'McGee, JaVale ', 'McLemore, Ben ', 'McRoberts, Josh ',
       'Meeks, Jodie ', 'Mejri, Salah ', 'Mickey, Jordan ',
       'Middleton, Khris ', 'Miles, CJ ', 'Miller, Andre ',
       'Miller, Mike ', 'Mills, Patty ', 'Millsap, Elijah ',
       'Millsap, Paul ', 'Mirotic, Nikola ', 'Monroe, Greg ',
       'Montero, Luis ', "Moore, E'Twaun ", 'Moreland, Eric ',
       'Morris, Marcus ', 'Morris, Markieff ', 'Morrow, Anthony ',
       'Motiejunas, Donatas ', 'Mozgov, Timofey ', 'Mudiay, Emmanuel ',
       'Muhammad, Shabazz ', 'Muscala, Mike ', 'Nene ',
       'Nance Jr., Larry ', 'Napier, Shabazz ', 'Neal, Gary ',
       'Nelson, Jameer ', 'Neto, Raul ', 'Nicholson, Andrew ',
       'Noah, Joakim ', 'Noel, Nerlens ', 'Nogueira, Lucas ',
       'Novak, Steve ', 'Nowitzki, Dirk ', 'Nurkic, Jusuf ',
       "O'Brien, J.J. ", "O'Bryant, Johnny ", "O'Quinn, Kyle ",
       'Okafor, Jahlil ', 'Oladipo, Victor ', 'Olynyk, Kelly ',
       'Oubre, Kelly ', 'Pachulia, Zaza ', 'Parker, Jabari ',
       'Parker, Tony ', 'Parsons, Chandler ', 'Patterson, Lamar ',
       'Patterson, Patrick ', 'Paul, Chris ', 'Payne, Adreian ',
       'Payne, Cameron ', 'Payton, Elfrid ', 'Pekovic, Nikola ',
       'Perkins, Kendrick ', 'Pierce, Paul ', 'Pleiss, Tibor ',
       'Plumlee, Mason ', 'Plumlee, Miles ', 'Pondexter, Quincy ',
       'Porter, Otto ', 'Portis, Bobby ', 'Porzingis, Kristaps ',
       'Powell, Dwight ', 'Powell, Norman ', 'Pressey, Phil ',
       'Price, Ronnie ', 'Prigioni, Pablo ', 'Prince, Tayshaun ',
       'Randle, Julius ', 'Randolph, Zach ', 'Redick, JJ ',
       'Reed, Willie ', 'Richardson, Josh ', 'Rivers, Austin ',
       'Roberson, Andre ', 'Roberts, Brian ', 'Robinson, Glenn ',
       'Robinson, Thomas ', 'Rondo, Rajon ', 'Rose, Derrick ',
       'Ross, Terrence ', 'Rozier, Terry ', 'Rubio, Ricky ',
       'Rudez, Damjan ', 'Rush, Brandon ', "Russell, D'Angelo ",
       'Sacre, Robert ', 'Sampson, JaKarr ', 'Schroder, Dennis ',
       'Scola, Luis ', 'Scott, Mike ', 'Sefolosha, Thabo ',
       'Seraphin, Kevin ', 'Sessions, Ramon ', 'Shumpert, Iman ',
       'Simmons, Jonathon ', 'Singler, Kyle ', 'Sloan, Donald ',
       'Smart, Marcus ', 'Smith, Ish ', 'Smith, J.R. ', 'Smith, Jason ',
       'Smith, Josh ', 'Snell, Tony ', 'Speights, Marreese ',
       'Splitter, Tiago ', 'Stauskas, Nik ', 'Stephenson, Lance ',
       'Stokes, Jarnell ', "Stoudemire, Amar'e ", 'Stuckey, Rodney ',
       'Sullinger, Jared ', 'Tavares, Walter ', 'Teague, Jeff ',
       'Teletovic, Mirza ', 'Temple, Garrett ', 'Terry, Jason ',
       'Thomas, Isaiah ', 'Thomas, Lance ', 'Thompson, Hollis ',
       'Thompson, Jason ', 'Thompson, Klay ', 'Thompson, Tristan ',
       'Thornton, Marcus ', 'Tolliver, Anthony ', 'Towns, Karl-Anthony ',
       'Tucker, PJ ', 'Turner, Evan ', 'Turner, Myles ', 'Udrih, Beno ',
       'Valanciunas, Jonas ', 'Varejao, Anderson ', 'Vasquez, Greivis ',
       'Vaughn, Rashad ', 'Villanueva, Charlie ', 'Vonleh, Noah ',
       'Vucevic, Nikola ', 'Vujacic, Sasha ', 'Wade, Dwyane ',
       'Waiters, Dion ', 'Walker, Kemba ', 'Wall, John ', 'Warren, TJ ',
       'Watson, CJ ', 'Webster, Martell ', 'Weems, Sonny ', 'West, David ',
       'Westbrook, Russell ', 'Whiteside, Hassan ', 'Whittington, Shayne ',
       'Wiggins, Andrew ', 'Wilcox, CJ ', 'Williams, Deron ',
       'Williams, Derrick ', 'Williams, Lou ', 'Williams, Marvin ',
       'Williams, Mo ', 'Winslow, Justise ', 'Withey, Jeff ',
       'World Peace, Metta ', 'Wright, Brandan ', 'Wright, Delon ',
       'Wroten, Tony ', 'Young, James ', 'Young, Joe ', 'Young, Nick ',
       'Young, Thaddeus ', 'Zeller, Cody ', 'Zeller, Tyler ', nan], dtype=object)

In [61]:
nba["Family?"].value_counts()

X    368
Name: Family?, dtype: int64

In [62]:
nba["Family?"].unique()

array([nan, 'X'], dtype=object)

In [56]:
nba["Unnamed: 1"].value_counts()

OKC    33
PHI    26
MIL    24
GSW    24
CLE    24
WAS    23
MIN    23
POR    22
SAS    22
ATL    21
TOR    21
CHA    21
UTA    20
MIA    20
LAC    20
BOS    19
SAC    19
LAL    18
CHI    18
HOU    17
NYK    17
IND    17
DEN    17
ORL    17
DAL    17
NOP    17
DET    15
BKN    15
MEM    15
PHX    14
Name: Unnamed: 1, dtype: int64

In [59]:
nba['Relation'].value_counts()

Brother        119
Father         101
Sister          39
Cousin          39
Mother          30
Uncle           27
Aunt             6
Grandfather      5
???              1
Nephew           1
Name: Relation, dtype: int64

In [82]:
import Seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
matplotlib.plt(x=nba['Father'], y=nba['Mother'])

ImportError: No module named Seaborn

In [60]:
nba['Relation'].unique()

array([nan, 'Sister', 'Brother', 'Cousin', 'Father', 'Grandfather',
       'Nephew', 'Uncle', 'Mother', 'Aunt', '???'], dtype=object)

In [ ]:
nba['Relation'].unique()